body{background-color: khaki;}

p{font-family: 'Grandstander', cursive;
 text-align: right;}

h1{background-color: red;
  text-align: center;
text-decoration: underline;
font-family: 'Source Code Pro', monospace; ;}

#ir{text-align: right;
text-decoration: overline;
background-color: blue;
color:white ;}

.im{text-align: right;
 color: darkolivegreen;}

h2{text-align: right;
    font-family: 'Lobster', cursive;
text-decoration: overline;}

#hu{background-color: lime;
text-decoration: overline;}

#th{background-color: blue;}

#ca{color: red;
background-color: white;}

.lk{text-decoration: line-through;}

.ho{text-align: justify;
color: orangered;
letter-spacing: 2px;}

.cp{word-spacing: 20px;}

